@import url('https://fonts.googleapis.com/css2?family=Arka&display=swap') ;
body {
font-family : 'Arka', sans-serif;
margin : 0;
padding : 0;
background-color : #f7f4ea;
}
.container {
max-width : 800px;
margin : 50px auto;
padding : 20px;
background-color : #fff;
border-radius : 10px;
box-shadow : 0 0 10px rgb(0, 0, 0, 0.1);
}
h1 {
text-align : center;
color : #2c3e50;
font-size : 36px;
}
h2 {
color : #2c3e50;
font-size : 24px;
}
form {
margin-bottom : 20px;
}
input[type="radio"] {
margin-right : 10px;
}
button {
padding : 10px 20px;
background-color : #c0392b;
color : #fff;
border : none;
border-radius : 5px;
cursor : pointer;
}
button:hover {
background-color : #e74c3c;
}
result {
display : none;
margin-top : 20px;
padding : 20px;
background-color : #ecf0f1;
border-radius : 5px;
box-shadow : 0 0 5px rgb(0, 0, 0, 0.1);
text-align : center;
}
god-image {
max-width : 100%;
border-radius : 50%;
margin : 0 auto;
}
result h2 {
color : #2c3e50;
font-size : 24px;
}
result p {
color : #34495e;
font-size : 18px;
}
